<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link class="netflix-icon" rel="icon" href="img/netflixicon.png" />

  <title>Napster</title>
  <link rel="stylesheet" href="css/signup.css">
  <link rel="stylesheet" href="css/signup2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>

<body>
 
  <div class="navigation-bar">

    <div class="netflix-logo">
      <div >  <a href="/Home">

        <img src="img/napster.png" alt="" width="230px;" height="80px">
      </a>
    </div>
  </div>
  <div>

    <a href="/sign-in" class="sign-in">Sign In</a>
  </div>

  </div>
  <hr>
  <div class="card1">

<div class="Information-container">
  
  <div class="text1">
    Create a password to start 
  </div>
  <div class="text2">
    Just a few more steps and you're done! <br>
    We hate paperwork,too.
  </div>
<div class="form"><form action="/sign-up" method="post">
  <div class="email-container">
    <label class="placelabel-email"for="id_email">Email</label>
    <input class="email"type="email" name="email" value="" id="id_email">
  </div>
  <div class="password-container">
      <label class="placelabel-password"for="password">Add a password</label>
    <input class="password"type="password" name="password" value="">
    <p id="demo"></p>
  </div>
  <div class="next-btn-container">
  <!-- <a href="netflix-signup-2-step-page.html">  -->
    <input type="submit" name="next" value="Next" class="next-btn" id="btn" >
 
    <!-- </a> -->

  </div>
</form>
</div>
</div>
    </div>
    <script>
      document.getElementById('id_email').value= localStorage.getItem('user')
    </script>
 
    <script src="js/form.js"></script>
  <!-- <script src="js1.js"></script> -->

</body>

</html>
