
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link class="netflix-icon" rel="icon" href="netflixicon.png" />

    <title>Napster</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="background-img">
      <div class="transparent">
        <div class="upper-section">
          <a href="/Home">
            <h1 class="heading">
              <img src="img/napster.png" alt="" >
            </h1>
          </a>
          <div class="card-container">
            <div class="card1">
              <div class="card2">
                <p class="p1">Sign In</p>
                <form class="sign-in" action="/sign-in" method="post">
                  <div class="user-information-container">
                    <input
                      type="email"
                      name="email"
                      value=""
                      id="email"
                      placeholder="Email"
                    />

                    <input
                      type="password"
                      name="password"
                      value=""
                      id="password"
                      placeholder="Password"
                    />
                    <input
                      type="submit"
                      name="sign-in-btn"
                      value="Sign In"
                      id="sign-in-btn"
                    />
                  </div>

                  <div class="container-box">
                    <div class="f1">
                      <p class="p2">
                        <input class="checkbox"
                        
                          type="checkbox"
                          name="rember-me"
                          value="Rember-me"
                        />
                        Remember me
                      </p>

                      <a href="#" class="n1">Need help?</a>
                    </div>
                    <div class="text-container">
                      <div class="text-1">
                        New to Netflix?
                      </div>
                      <div>
                        <a href="/sign-up" class="n2">Sign up now.</a>
                      </div>
                    </div>
                  </div>
                      <div class="text-2">
                        <p>
                          This page is protected by Google reCAPTCHA to ensure
                          you're not a bot
                        </p>
                      </div>
                   
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </body>
</html>
