body {
  margin: 0;
  background-color: black;
}
.netflix-icon {
  width: 200px;
  height: 200px;
  filter: brightness(1.5);
}
.background-img {
  background-image: url(../img/netflix-background.jpg);
  background-size: cover;
  margin: 0px;
  background-repeat: no-repeat;
  height: 100%;
}
.transparent {
  background-color: black;

  width: 100%;

  /* filter: opacity(0.7); */
  background-color: transparent;
  background: rgba(0, 0, 0, 0.4);
}
.heading {
  cursor: default;
  font-size: 4em;
  /* font-family: 'Bebas Neue', cursive; */
  /* letter-spacing: 3px; */
  padding-left: 85px;
  padding-top: 20px;
  margin: auto;
 
}
.heading img{
  width: 14vw;
  height: 10vh;
  filter: brightness(1.5);
}
.upper-section {
  margin: auto;
  height: 100vh;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 {
  background-color: black;
  width: 30%;
  height: 660px;
  height: auto;
  padding: 60px 18px 40px 48px;
  border-radius: 5px;
  /* filter: opacity(75%); */
  display: flex;
  justify-content: center;
  margin-bottom: 57px;
  background-color: transparent;
  background: rgba(0, 0, 0, 0.6);
}
.card2 {
  filter: opacity(0.9);
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.user-information-container {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.p1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
#email {
  width: 24vw;
  height: 50px;
  padding: 16px 0 0 16px;
  font-size: 1.5em;
  
}
#password {
  width: 24vw;
  height: 50px;
  padding: 16px 0 0 16px;
  font-size: 1.5em;
}
#sign-in-btn {
  width: 375px;
  height: 60px;
  
  margin-top: 20px;
  background-color: red;

  padding: 10px;

 
  border: none;
  margin-left: 0px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #ffff;
  font-size: 1.5rem;
}
.container-box {
  display: flex;
  flex-direction: column;
}
.f1 {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}
.p2 {
  font-size: 1.3rem;
  color: grey;
  float: left;
  width: auto;
  margin: 0px;
}
.checkbox{
  width: 1vw;
  height: 2vh;
  margin: 0%;
}
p {
  color: grey;
  margin: 0;
}
.text-container {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: flex-start;
  gap:10px
}
.text-2 {
  height: 10px;
  padding-top: 26px;
}
.text-1 {
  color: grey;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0px;
  height: 10px;
 
}
.n1 {
  color: grey;
  float: right;
  font-size: 1rem;
  font-family: sans-serif;
  margin-right: 20px;
}

.n2 {
  color: #ffff;
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif;
}
@media (max-width: 1000px) {
  .background-img {
    background: none;
    background-color: black;
    height: 100%;
  }
  body{
    background-color: rgba(0, 0, 0, );
  }
  .card-container {
    justify-content: center;
    display: flex;
    padding-top: 6pc;
  }
  .card1 {
    justify-content: flex-start;
    padding-left: 48px;
    padding-top: 20px;
    width:800px ;
  }
  .card2{
    width: 800px;
  }
  p.p1{
    font-size: 7rem;
    padding: 3pc 0;
  }
  #email ,#password{
    width: 800px;
    height: 100px;
   font-size: 3rem;
  }
  #sign-in-btn{
    width: 54pc;
    height: 7pc;
    font-size: 3rem;
    margin: unset;
  }
  .p2,
  .f1 a.n1{
    font-size: 2.8rem;
    margin: 0%;
  }
  .checkbox{
    width: 3vw;
    height: 2vh;
  }
  .text-container{
    font-size: 2.5rem;
    padding-top: 7pc;
    flex-direction: row;

  }
  .text-2{
    font-size: 2rem;
   
  }
  .heading {
    padding-left: 95px;
    padding-top: 50px;
    padding-bottom: 0;
  }
  .heading img{
    width: 280px;
    height: 100px;
    filter: brightness(1.5);
  }
}
