
.netflix-logo{
  cursor:default;

   font-family: 'Bebas Neue', cursive;
     letter-spacing: 3px;



}
.Information-container{
  text-align: left;
}
.card1{
  padding-top: 100px;
  display: flex;
    align-content: center;
    text-align: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
}
.steplogo-container{
  background: url(https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Devices.png) no-repeat 50% 50%;
  height: 100px;
  background-size: 230px;
  padding: 20px;
}
.steplogotext{
  font-size: 1em;
  color: black;
  opacity: 0.8;
   padding: 10px;
}
.step-heading{
  font-size: 15px;
  text-align: left;
  padding: 5px 0;
}
.text1{
  font-size: 2em;
}

.text2{
padding:8px 0;
  font-size: 1.2em;
}
.email-container{
  padding: 10px 0;
display: block;
}
.placelabel-email{
  position: absolute;
margin-left: 8px;
margin-top: 5px;
color: grey;


}
.email{
  /* opacity: 0; */
  width: 94%;
  height: 50px;
  padding: 11px 10px 0;
  font-size: 1.5em;
  filter: opacity(0.6);

}
.placelabel-password{
  position: absolute;
  margin-left: 8px;
  margin-top: 5px;
  color: rgb(6, 0, 0);

}
.password-container{
  padding: 10px 0;
  display: block;
}
.password{
  /* opacity: 0; */
  width: 94%;
  height: 50px;
  padding: 10px 10px 0;
  font-size: 1em;
filter: opacity(0.6);
}
#btn{
  width: 100%;
  margin-top: 10px;
}
@media (max-width:1500px){
  .card1{
    width: auto;
  }
  .step-heading{
    font-size: 2rem;
  }
  .text1{
    font-size: 4.2rem;
  }
  .text2{
    font-size:2.5rem;
  }
  .email ,.password{
    width: 97%;
    height: 100px;
    border-color: black;
  }
  .next-btn-container{
    width: 100%;
  }
  .placelabel-email,
  .placelabel-password{
    font-size: 2.2rem;
  }
}